# Игнорирование служебных файлов ОС macOS
.DS_Store

# Игнорирование служебных файлов ОС Windows (на всякий случай)
Thumbs.db

# Игнорирование логов и зависимостей Node.js (актуально для будущих проектов)
npm-debug.log*
node_modules/